.border {
    border-bottom: 1px dashed red;
    padding: 20px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.borderAlternate {
    border-bottom: 3px dotted teal;
    padding: 20px;
}