.border {
    border-bottom: 1px dashed red;
    padding: 1px 20px 20px;
}

a:link {
    color: black;
}

a:hover {
    color: red;
}

a:visited {
    color: black;
}

.borderAlternate {
    border-bottom: 3px dotted teal;
    padding: 20px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 1px;
}

.columnAlternate {
    float: left;
    width: 50%;
    padding: 1px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    
}